.header-left {
    height: 120px;
    width: 200px;
    background-color: #add8e6;
    float: left;
}

.header-left-image {
    height: 120px;
    width: 200px;
}

.header-right-top {
    height: 60px;
    width: 100%;
    background-color: #87ceeb;
}

.header-right-bottom {
    height: 60px;
    width: 100%;
    background-color: #00ffff;
}

.main-title {
    background-color: #87ceeb;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table {
    border-color: white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.main-posts {
    background-color: #e0ffff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.footer {
    background-color: #00ced1;
    height: 50px;
}