.header-left {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
    float: left;
  }
  .header-left {
    float: left;
  }
  .header-left-image {
    width: 200px;
  }
  .header-right-top {
    width: 100%;
    height: 60px;
    background-color: #87ceeb;
  }
  .header-right-bottom {
    width: 100%;
    height: 60px;
    background-color: #00ffff;
  }
  

